In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, RobustScaler, MinMaxScaler, OneHotEncoder, LabelEncoder, OrdinalEncoder

In [2]:
df = pd.read_csv('../Data/df_250519.csv')
df

,Unnamed: 0,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,date
0,0,1,59,admin.,married,secondary,False,2343,True,False,unknown,5,May,1042,1,-1,0,unknown,True,2024-05-05
1,1,2,59,admin.,married,secondary,False,2343,True,False,unknown,5,May,1042,1,-1,0,unknown,True,2024-05-05
2,2,3,56,admin.,married,secondary,False,45,False,False,unknown,5,May,1467,1,-1,0,unknown,True,2024-05-05
3,3,4,41,technician,married,secondary,False,1270,True,False,unknown,5,May,1389,1,-1,0,unknown,True,2024-05-05
4,4,5,55,services,married,secondary,False,2476,True,False,unknown,5,May,579,1,-1,0,unknown,True,2024-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16158,16158,21379,82,housemaid,divorced,primary,False,1381,False,False,cellular,28,Jan,86,3,93,1,failure,False,2024-01-28
16159,16159,21380,35,blue-collar,married,unknown,False,1084,True,False,cellular,10,Jul,1019,1,-1,0,unknown,False,2024-07-10
16160,16160,21381,33,technician,married,secondary,True,72,True,False,unknown,6,May,623,1,-1,0,unknown,False,2024-05-06
16161,16161,21382,23,student,single,secondary,False,480,False,False,cellular,9,Feb,742,2,182,1,failure,True,2024-02-09
16162,16162,21383,42,admin.,single,secondary,False,243,True,False,unknown,14,May,46,5,-1,0,unknown,False,2024-05-14

In [6]:
#categorical_features = ["job", "marital"]
label_encoder = LabelEncoder()
df['job_encoded'] = label_encoder.fit_transform(df['job'])
df['marital_encoded'] = label_encoder.fit_transform(df['marital'])

In [7]:
#categorical_features = ["education"]
ordinal_encoder = OrdinalEncoder()
df['education_encoded'] = ordinal_encoder.fit_transform(df[['education']])

In [8]:
df

,Unnamed: 0,id,age,job,marital,education,default,balance,housing,loan,...,duration,campaign,pdays,previous,poutcome,deposit,date,job_encoded,marital_encoded,education_encoded
0,0,1,59,admin.,married,secondary,False,2343,True,False,...,1042,1,-1,0,unknown,True,2024-05-05,0,1,1.0
1,1,2,59,admin.,married,secondary,False,2343,True,False,...,1042,1,-1,0,unknown,True,2024-05-05,0,1,1.0
2,2,3,56,admin.,married,secondary,False,45,False,False,...,1467,1,-1,0,unknown,True,2024-05-05,0,1,1.0
3,3,4,41,technician,married,secondary,False,1270,True,False,...,1389,1,-1,0,unknown,True,2024-05-05,9,1,1.0
4,4,5,55,services,married,secondary,False,2476,True,False,...,579,1,-1,0,unknown,True,2024-05-05,7,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16158,16158,21379,82,housemaid,divorced,primary,False,1381,False,False,...,86,3,93,1,failure,False,2024-01-28,3,0,0.0
16159,16159,21380,35,blue-collar,married,unknown,False,1084,True,False,...,1019,1,-1,0,unknown,False,2024-07-10,1,1,3.0
16160,16160,21381,33,technician,married,secondary,True,72,True,False,...,623,1,-1,0,unknown,False,2024-05-06,9,1,1.0
16161,16161,21382,23,student,single,secondary,False,480,False,False,...,742,2,182,1,failure,True,2024-02-09,8,2,1.0
16162,16162,21383,42,admin.,single,secondary,False,243,True,False,...,46,5,-1,0,unknown,False,2024-05-14,0,2,1.0